[alexandria]
port={{ alexandria_port }}

[itop]
drvtype=cmdb
endpoint={{ alexandria_itop_endpoint }}
loginItop={{ alexandria_itop_login }}
passwordItop={{ alexandria_itop_pass }}
organization_name={{ alexandria_itop_organization_name }}

[redfish]
drvtype=hw

